@(services:List[Service])

@import helper._
@import views.html.common._
@import models._

@main("Consulting Inc ServiceController") {
  <div class="page-header">
    <h2>All ServiceController</h2>
  </div>
  <div class="panel panel-default">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Code</th>
        <th>Description</th>
        <th class="co1-right" >Amount</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    @for(service <- services) {
      <tr>
        <td><a href="@routes.ServiceController.edit(service.id)">@service.id</a></td>
        <td>@service.description</td>
        <td class="col-right">@{"%.2f".format(service.amount)}</td>
        <td><button type="button" class="btn-info" onclick="window.location='@routes.ServiceController.edit(service.id)';" value="edit">Edit</button></td>
        <td><button type="button" class="btn-danger" onclick="del('@routes.ServiceController.delete(service.id)');" value="delete">Delete</button></td>
      </tr>
    }
    </tbody>
  </table>
  </div>
  <div class="btn-group">
    <button type="button" class="btn btn-success" onclick="window.location='@routes.ServiceController.add()';" value="add">Add new service</button>
  </div>
}