@(customers: List[Customer])

    @import helper._
    @import views.html.common._
    @import models._

    @main("Consulting Inc") {
        <div class="page-header">
            <h2>All Customers</h2>
        </div>
        <div class="panel panel-default">
            <table class="table table-striped table-bordered list-view-table">
                <thead>
                    <tr class="list-view-header">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Postcode</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                @for(customer <- customers) {
                    <tr>
                        <td><a href="@routes.CustomerController.edit(customer.id)">@customer.id</a></td>
                        <td>@customer.address</td>
                        <td>@customer.city</td>
                        <td>@customer.state</td>
                        <td>@customer.postcode</td>
                        <td>@customer.phone</td>
                        <td>@customer.email</td>
                        <td><button type="button" class="btn-info" onclick="window.location = '@routes.CustomerController.edit(customer.id)';" value="edit">Edit</button></td>
                        <td><button type="button" class="btn-danger" onclick="del('@routes.CustomerController.delete(customer.id)');" value="delete">Delete</button></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="btn-group">
            <div>
                <button type="button" class="btn btn-success" onclick="window.location = '@routes.CustomerController.add()';" value="add">
                    Add new customer</button>
                <button class="btn btn-info" onclick="window.location='@routes.InvoiceController.list()';" value="edit">View Invoices</button>
            </div>
        </div>
    }